<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>{{docTitle}}</title>

    <style>
        h1 { font-size: 133%; }
        h2 { font-size: 125%; }
        .day-head { margin-top: 1em; }
        .calendar-style li { text-align: center; }
        .calendar-style.pagination { margin-bottom: 0; }
        .calendar-style.pagination-sm .page-link { font-size: 14px; }
        .pagination-sm .page-link { padding: 0.2rem 0.35rem; }
        .wkdy { font-size: 10px; }
        .badge { font-size: 66%; }
    </style>
  </head>
  <body>
    <div class="container-fluid bg-light">
      <section class="header pt-3 pb-1">
              <h1>FFS <span class="text-muted">&ndash; Faster Fringe Schedule</span></h1>
      </section>
    </div>
    <nav class="navbar sticky-top navbar-light bg-light shadow-sm">
          <ul class="pagination pagination-sm calendar-style">
            {{#dayNav}}
              <li class="page-item {{active}}"><a class="page-link" href="schedule-{{slug}}.html"><span class="wkdy">{{dow}}</span><br/>{{dom}}</a></li>
            {{/dayNav}}
          </ul>
    </nav>
    <div class="container-fluid pt-3">
        {{! <h1>FFS <span class="text-muted">Faster Fringe Schedule</span></h1> }}
        {{! <div class="dayNav">
          <nav aria-label="...">

          </nav>
        </div> }}

                {{#dayMeta}}
                  <div class="row border-bottom">
                    <div class="col-12">
                      <h2 class="day-head">{{label}}</h2>
                    </div>
                  </div>
                {{/dayMeta}}

                {{#events}}
                    <div class="row event border-bottom">
                        <div class="col-2  col-lg-2">{{tim}}</div>
                        <div class="col-10 col-lg-5"><a target="source" href="{{showUrl}}">{{showTitle}}</a></div>
                        <div class="col-10 offset-2  col-lg-4">{{venue}} <span class="badge badge-info">{{serviceTags}}</span> </div>
                    </div>
                {{/events}}
        <p class="small text-muted"><em>Updated at {{buildTime}}</em></p>
    </div>
  </body>
</html>