<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{! integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" }}
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
   <title>{{docTitle}}</title>

    <style>
        h1 { font-size: 25px; }
        h2 { font-size: 167%; }
        h3 { font-size: 125%; }
        .header { margin-bottom: -4px; }
        .header a {
          font-size: 25px;
          text-decoration: none;
          color: inherit;
        }
        .header a span.fringe {
          font-weight: bold;
          font-size: 26px;
          color: #592e84;
        }
        img.fringe {
          /* fringe dark purple: #592e84 */
          /* as filter for black svg h/t https://codepen.io/sosuke/pen/Pjoqqp */
          filter: invert(18%) sepia(56%) saturate(1876%) hue-rotate(247deg) brightness(97%) contrast(93%);
          margin-top: 1px;
          margin-left: 3px;
        }
        .navbar { height: 66px; }
        .day-head { font-weight: bold; }
        .time-slot-head {}
        .sticky-icky {
          position: -webkit-sticky; position: -moz-sticky; position: -o-sticky; position: -ms-sticky;
          position: sticky;
          top: 66px; /* navbar height */
          left: 0;
          right: 0;
          display: block;
          z-index: 1;
          background: #333;
          color: #fff;
          padding: 8px 0px 1px;
        }
        .calendar-style.pagination { margin-bottom: 0; margin-left: 12px; }
        .calendar-style.pagination-sm .page-link {
            font-size: 16px;
            line-height: normal;
            padding-bottom: 8px;
        }
        .calendar-style li { text-align: center; min-width: 3.75ex;}
        .pagination-sm .page-link { padding: 0.2rem 0.35rem; }
        .wkdy { font-size: 10px; }
        .row.event {
          padding: 4px 0px;
          line-height: 1.25;
        }
        .badge { font-size: 66%; }
        .show-title a {text-decoration: none;}
        .venue.IP { font-style: italic; }
        .footnote { font-size: .75em; padding-top: 2ex; }
        .footnote a { color: inherit; }
    </style>
  </head>
  <body>
    <div class="container-fluid bg-light">
        <section class="header">
            <a href="/" class="brand"><img src="./images/minnesota-simple.svg" alt="MN" height="23" class="d-inline-block align-text-top fringe"><span class="fringe">Fringe</span> Quick Schedule</a>
        </section>
    </div>
    <nav class="navbar sticky-top navbar-light bg-light shadow-sm">
          <ul class="pagination pagination-sm calendar-style">
            {{#dayNav}}
              <li class="page-item {{active}}"><a class="page-link" href="schedule-{{slug}}.html"><span class="wkdy">{{dow}}</span><br/>{{dom}}</a></li>
            {{/dayNav}}
          </ul>
    </nav>
    <div class="container-fluid pt-3">
        {{! <h1>FFS <span class="text-muted">Faster Fringe Schedule</span></h1> }}
        {{! <div class="dayNav">
          <nav aria-label="...">

          </nav>
        </div> }}

                {{#dayMeta}}
                  <div class="row border-bottom">
                    <div class="col-12">
                      <h2 class="day-head">{{label}}</h2>
                    </div>
                  </div>
                {{/dayMeta}}

                {{#timesWithEvents}}
                  <div class="row time-slot-head sticky-icky shadow-sm" id="t{{timeNum}}"><div class="col-12"><h3>{{timeSlot}}</h3></div></div>
                  {{#events}}
                      <div class="row event border-bottom">
                          <div class="col-12 col-lg-5 text-truncate show-title"><a target="source" href="{{baseDomain}}{{showUrl}}">{{showTitle}}</a> </div>
                          <div class="col-12 col-lg-4 text-truncate"><span class="badge bg-success">{{serviceTags}}</span> <span class="text-muted">by {{byArtist}}</span></div>
                          <div class="col-12 col-lg-3 venue {{venueTag}}">{{venue}}</div>
                      </div>
                  {{/events}}
                {{/timesWithEvents}}

        <p class="footnote text-black-50"><em>Data sourced {{scrapeTime}}, <a href="https://github.com/wallheater/fringe-remix">remixed</a> {{renderTime}}</em></p>
    </div>
  </body>
</html>